<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{51,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{39,68}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,68},{50,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{51,70}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{52,68}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,278},{51,68}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,0},{52,68}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{51,68}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,138},{50,70}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
			<key>item_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{51,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>number0-9.png</string>
			<key>realTextureFileName</key>
			<string>number0-9.png</string>
			<key>size</key>
			<string>{128,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>